{% extends 'base.html' %}

{% block head %}
<title>New Touch</title>
{% endblock %}

{% block body %}
  <div class="content">
    <h1 style="text-align: center">Add a New Touch</h1>
    <div class="form">
      <form action="/add_touch" method="POST">
          <p>Plese add a new Touch below:</p>
          <label for="description">Description:</label>
          <p><input type = "text" id="description" name = "description" /></p>
          <input type="submit" value="Add a Touch">
      </form>
    </div>
  </div>
{% endblock %}
