{% extends 'base.html' %}

{% block head %}
<title>Home Page</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">FLASK APPLICATION</h1>
    <h3 style="text-align: center">Customer-Relationship-Management Tool</h3>
    {% if lead|length < 1 %}
        <h4 style="text-align: center">Please create records below!</h4>
    {% else %}
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:10px;}
        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
        .tg .tg-0lax{text-align:left;vertical-align:top}
    </style>
    <table border="1" class="tg">
        <tr>
            <!-- <th class="tg-0lax"> Item </th> -->
            <th class="tg-0lax"> Name </th>
            <th class="tg-0lax"> Company </th>
            <th class="tg-0lax"> Phone</th>
            <th class="tg-0lax"> Email</th>
            <th class="tg-0lax"> Description</th>
            <th class="tg-0lax"> Date Created</th>
            <th class="tg-0lax"> Actions</th>
        </tr>
        {% for l in lead %}
            <tr>
                <!-- <td>{{ l.id }}</td> -->
                <td>{{ l.name }}</td>
                <td>{{ l.company }}</td>
                <td>{{ l.phone }}</td>
                <td>{{ l.email }}</td>
                <td>{{ l.touch['description'] }}</td>
                <td>{{ l.touch['date'] }}</td>
                <td>
                    <a href="/delete/{{l.id}}">Delete</a>
                    <br>
                    <a href="/update/{{l.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <p><a href="/add_task" class="button"> Add Task </a></p>

</div>
{% endblock %}
