{% extends 'base.html' %}

{% block head %}
<title>Update Lead</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Update Task</h1>

    <div class="form">
        <form action="/update_leads/{{lead.id}}" method="POST"></p>
            <p><input type="hidden" value="{{lead.id}}" name="oldId"></p>
            <label for="name">Name:</label>
            <p><input type="text" name="name"   id="name" value="{{lead.name}}"></p>
            <label for="company">Company Name:</label>
            <p><input type="text" name="company"  id="company"  value="{{lead.company}}"></p>
            <label for="phone">Phone Number:</label>
            <p><input type="text" name="phone"  id="phone" value="{{lead.phone}}"></p>
            <label for="email">Email:</label>
            <p><input type="text" name="email"  id="email" value="{{lead.email}}"></p>
            <p><input type="submit" value="Update">
        </form>
    </div>
</div>
{% endblock %}
